*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.track{
    width: 50%;
    height: 90%;
    border-radius: 5px;
    left: 0;
    top: 0;
    margin:20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

#coordinates{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 100px;
    background-color: bisque;
    width: 100%;
    height: 50%;
    border-radius: 8px;
    flex:1;

}

#pressed{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 120px;
    background-color: lightgreen;
    width: 100%;
    height: 50%;
    border-radius: 8px;
    top: 52%;
    flex: 1;
}

.actions{
    width: 50%;
    height: 90%;
    border-radius: 5px;
    right: 0;
    top: 0;
    margin:20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: lightpink;
}

#btn{
    border-radius: 8px;
    font-size: 20px;
    width: 40%;
    height: 10%;
    margin: auto;
    cursor: pointer;
    background-color: lightblue;
}

#interact{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 120px;
    padding-left: 15rem;
    border-radius: 8px;
    position: absolute;
}

#btn:hover{
    background-color: #598BAF;
}